In [8]:
# 필요 시 주석을 해제하고 아래 라이브러리들을 설치
# !pip install pystan==2.19.1.1
# !pip3 install fbprophet
# !pip install plotly

In [3]:
# 라이브러리 임포트
import os
import time
import json
import datetime
import numpy as np
import pandas as pd
from fbprophet import Prophet
import logging
logging.getLogger('fbprophet').setLevel(logging.WARNING)

In [4]:
# 데이터 로드
train = json.load(open('../data/ai_contest/02.Training_Data/train.json', 'r', encoding='utf8')) 
submit = json.load(open('../data/ai_contest/02.Training_Data/sample_submission.json', 'r', encoding='utf8'))

In [5]:
df_dic = {}
plc_lst = list(train.keys())
fct_lst = ['pH', 'COD', 'SS', 'N', 'P', 'T']

In [6]:
plc_lst

['서울서남하수',
 '부산서부하수',
 '부산정관하수',
 '부산동부하수',
 '부산강변하수',
 '부산남부하수',
 '부산중앙하수',
 '부산기장하수',
 '부산해운대하수',
 '부산영도하수',
 '대구지산하수',
 '대구달서천하수',
 '대구북부하수',
 '대구서부하수',
 '대구신천하수',
 '대구안심하수',
 '대구달성폐수',
 '대구성서폐수',
 '인천운북하수',
 '인천공촌하수',
 '인천만수하수',
 '인천강화하수',
 '중부발전(인천)',
 '포스코파워(인천)',
 '광주제2하수',
 '광주제1하수',
 '대전하수',
 '대전대덕폐수',
 '울산온산하수',
 '울산방어진하수',
 '울산언양하수',
 '울산용연하수',
 '울산회야하수',
 '삼성SDI(울산)',
 '효성(울산)',
 '부천굴포천하수',
 '부천역곡하수',
 '평택팽성하수',
 '성남하수',
 '수원하수',
 '오산1하수',
 '고양벽제하수',
 '고양일산하수',
 '화성조암하수',
 '화성남양하수',
 '안산대부하수',
 '안산하수1단계',
 '안산하수2단계',
 '시흥시 맑은물관리센터',
 '구리2하수',
 '의정부하수',
 '양평하수',
 '고양원능하수',
 '의왕부곡하수',
 '포천하수',
 '포천소흘하수',
 '연천하수',
 '안성하수',
 '안성불당하수',
 '용인구갈하수',
 '파주금촌하수',
 '파주통일동산하수',
 '이천장호원하수',
 '이천하수',
 '여주하수',
 '광주경안하수',
 '광주오포하수',
 '과천하수',
 '남양주진건하수',
 '광주곤지암하수',
 '동두천하수',
 '남양주1화도하수',
 '오산2하수',
 '평택현덕하수',
 '구리1하수',
 '가평하수',
 '가평청평하수',
 '가평현리하수',
 '남양주가운하수',
 '연천신서하수',
 '양평용문하수',
 '양평양서하수',
 '여주가남하수',
 '평택포승하수',
 '파주적성하수',
 '용인영덕하수',
 '군포대야하수',
 '안성진사하수',
 '판교하수',
 '용인남사하수',
 '양주남면하수',
 '포천영북하수',
 '이천단월하수',
 '용인백암하수',
 '평택송탄폐수',
 '안성2폐수',
 '포천양문폐수',
 '파주문산폐수',
 '양주검준폐수',
 '안성1폐수',
 '평택어연한산폐수',
 '평택현곡폐수',
 '화성장안폐수',
 '화성발안폐수',
 '김포양촌폐수',
 '향남제약공단(화성)',
 '하이닉스Eng(이천)',
 '한미염공 포천신평염색단지조합',
 '도드람LPC공사(안성)',
 '복정정수(성남)',
 '삼성전자(용인)',
 '코카콜라음료(여주)',
 '삼성전기(수원)',
 '영풍제지(평택)',
 '롯데칠성음료(광주)',
 '쌍용자동차(평택)',
 '하이트진로 (주) 이천공장',
 '오비맥주(이천)',
 '매일유업(평택)',
 '삼정펄프(평택)',
 '서부발전(평택)',
 '서울우유(용인)',
 'SKC(수원)',
 '대성산업',
 '홍천하수',
 '원주하수',
 '춘천하수',
 '평창진부하수',
 '태백하수',
 '강릉주문진하수',
 '속초하수',
 '동해하수',
 '삼척하수',
 '인제하수',
 '정선지장천하수',
 '정선하수',
 '춘천강촌하수',
 '횡성하수',
 '철원갈말하수',
 '철원김화하수',
 '평창대관령하수',
 '양양하수',
 '양구하수',
 '원주문막폐수',
 '동해북평폐수',
 '하이트맥주(홍천)',
 '파스퇴르(횡성)',
 '음성대소하수',
 '영동하수',
 '청원내수하수',
 '제천하수',
 '증평하수',
 '충주하수',
 '충주수안보하수',
 '진천하수',
 '단양매포하수',
 '괴산하수',
 '단양하수',
 '음성금왕하수',
 '보은하수',
 '보은속리산하수',
 '충주주덕하수',
 '청주폐수',
 '음성맹동폐수',
 '청원부용폐수',
 '청원오창과학폐수',
 '진천광혜원폐수',
 '청원현도폐수',
 '음성하이텍폐수',
 '음성대소폐수',
 '음성금왕폐수',
 '음성대풍폐수',
 '청원오송생명폐수',
 '동부하이텍(음성)',
 '대한제지(청원)',
 '전주페이퍼(청원)',
 '대한펄프(청원)',
 '삼화제지(청원)',
 '홍성하수',
 '계룡하수',
 '논산하수',
 '대천하수',
 '당진하수',
 '예산하수',
 '보령하수',
 '서산하수',
 '부여하수',
 '아산하수',
 '천안성환하수',
 '당진합덕하수',
 '천안병천하수',
 '당진신평하수',
 '충남서천하수',
 '태안만리포하수',
 '공주유구하수',
 '아산인주폐수',
 '금산폐수',
 '천안4폐수',
 '삼성전기(연기)',
 '아산탕정TC폐수',
 '천안3폐수',
 '천안천흥폐수',
 '엠이엠씨코리아(천안)',
 '엘지화학(서산)',
 '삼정펄프(천안)',
 '삼성토탈(서산)',
 '삼성석유화학(서산)',
 '한솔제지(장항)',
 '호남석유화학(서산)',
 '한솔제지(천안)',
 '쌍용씨앤비(연기)',
 '조폐공사(부여)',
 '남양유업(천안)',
 '남양유업(공주)',
 '농심(아산)',
 '매일유업(청양)',
 '해태음료(천안)',
 '빙그레(논산)',
 '정읍하수',
 '전주하수',
 '군산하수',
 '정읍신태인하수',
 '고창하수',
 '완주삼례하수',
 '남원하수',
 '익산북부하수',
 '김제하수',
 '익산산단폐수',
 '완주폐수',
 '군장폐수',
 '푸르밀(전주)',
 '하이트맥주(완주)',
 '목포남해하수',
 '목포남악신도시하수',
 '장성하수',
 '영암대불하수',
 '나주하수',
 '화순도곡온천하수',
 '승주하수',
 '영암하수',
 '무안일로하수',
 '영광홍농법성하수',
 '여수중흥폐수',
 '여수월내폐수',
 '대한페이퍼텍(담양)',
 '남양유업(나주)',
 '상주하수',
 '포항하수',
 '구미하수',
 '구미4단지하수',
 '구미원평하수',
 '경주하수',
 '경주안강하수',
 '문경점촌하수',
 '김천하수',
 '안동하수',
 '영천금호하수',
 '포항구룡포하수',
 '포항흥해하수',
 '칠곡약목하수',
 '칠곡왜관하수',
 '㈜코오롱워터앤에너지 경산사업소',
 '성주월항폐수',
 '고령쌍림폐수',
 '군위농공폐수',
 '올품(상주)',
 '통영하수',
 '김해장유하수',
 '거제중앙하수',
 '양산하수',
 '거창하수',
 '거제장승포하수',
 '마산하수',
 '김해화목하수',
 '진주하수',
 '창녕부곡하수',
 '고성하수',
 '밀양하수',
 '진해하수',
 '김해진영하수',
 '창원북면하수',
 '사천삼천포하수',
 '창원대산하수',
 '진주상평폐수',
 '칠서일반산업단지관리공단',
 '양산어곡폐수',
 '사천폐수',
 '고려제강(양산)',
 '제주하수',
 '(주)팜스토리엘피씨',
 '고성간성하수',
 '고성거진하수',
 '곡성하수',
 '곡성옥과하수',
 '의성하수',
 '의성금성하수',
 '영덕영해하수',
 '거제면하수',
 '거창가조하수',
 '합천하수',
 '제주동부하수',
 '제주서부하수',
 '통영안정국가산단폐수',
 '증평폐수',
 '팜스코(음성)',
 '진도하수',
 '풍산 동래공장 (부산)',
 '연기전의하수',
 '예산삽교하수',
 '농협목우촌(김제)',
 '동우(군산)',
 '나주산포하수',
 '남동발전(여수)',
 '자연과사람들(담양)',
 '화인코리아(나주)',
 '매일유업(경산)',
 '동일제지(의령)',
 '서울우유(거창)',
 '부경축산물공판장(김해)',
 '대구경북능금농협(군위)',
 '고려제강(유산)',
 '빙그레(김해)',
 '논산연무하수',
 '고흥하수',
 '대구현풍하수',
 '구미선산하수',
 '성주하수',
 '안동풍산하수',
 '㈜코오롱워터앤에너지 울진사업소',
 '울진온정하수',
 '창녕하수',
 '창녕남지하수',
 '함양하수',
 '김해진례하수',
 '함안가야하수',
 '임실하수',
 '진안하수',
 '장수하수',
 '장계하수',
 '부안하수',
 '무주하수',
 '순창하수',
 '함평하수',
 '구례지리산온천하수',
 '구례하수',
 '광양광영하수',
 '보성하수',
 '보성벌교하수',
 '문경마성하수',
 '경주감포하수',
 '경주외동하수',
 '경주건천하수',
 '문경가은하수',
 '청도하수',
 '진주문산하수',
 '진주사봉하수',
 '의령하수',
 '밀양삼랑진하수',
 '밀양하남하수',
 '남해읍하수',
 '제주남원하수',
 '서귀포대정하수',
 '서산대죽폐수',
 '예천하수',
 '시흥능곡하수',
 '포천내촌하수',
 '포천일이동하수',
 '오산세마하수',
 '군포부곡하수',
 '파주월롱폐수',
 '평택진위폐수',
 '삼성전자(수원)',
 '춘천신북하수',
 '서천장항하수',
 '무안하수',
 '장흥하수',
 '경북바이오폐수',
 '포항장량하수',
 '원주동화폐수',
 '아산테크노폐수',
 '사천용현하수',
 '고령다산하수',
 '강릉주문진폐수',
 '의령부림농공폐수',
 '서산성연하수',
 '인천검단폐수',
 '논산폐수',
 '화순동면폐수',
 '청양정산농공폐수',
 '울산용암폐수',
 '창원진북폐수',
 '구미산동하수',
 '부산장안폐수',
 '수원서호천하수',
 '고령다산산단폐수',
 '고령개진농공폐수',
 '충주첨단폐수',
 '고령개진산단폐수',
 '모란식품(음성)',
 '아산둔포하수',
 '영양하수',
 '봉화하수',
 '대구달성2차폐수',
 '풀무원(증평)',
 '당진합덕폐수',
 '울진후포하수',
 '울진죽변하수',
 '원주흥업하수',
 '춘장대하수',
 '원주문막하수',
 '안성죽산하수',
 '안성일죽하수',
 '나주산단폐수',
 '청원오창하수',
 '인제북면하수',
 '김포고촌하수',
 '연기노장폐수',
 '화성정남하수',
 '울산강동하수',
 '울산굴화하수',
 '이천부필하수',
 '연천임진하수',
 '청원강내하수',
 '충주기업도시폐수',
 '대산산업용수',
 '고령축산물공판장',
 '창녕대합폐수',
 '천안5폐수',
 '철원동송하수',
 '백제문화단지하수',
 '다솔(장흥)',
 '함안폐수',
 '영우냉동(남원)',
 '고양삼송하수',
 '공주신관하수',
 '송산2폐수',
 '광주효천하수',
 '고성토성하수',
 '삼척호산하수',
 '청송진보하수',
 '곡성석곡하수',
 '창원진동하수',
 '대전흑석하수',
 '보성회천하수',
 '서천종천2폐수',
 '이천마장하수',
 '양평서종하수',
 '고흥과역하수',
 '의정부민락2하수',
 '남원운봉하수',
 '영월쌍용하수',
 '삼척임원하수',
 '양구남면하수',
 '사천곤양하수',
 '사천서포하수',
 '서산운산하수',
 '함평해보하수',
 '화순남면하수',
 '고창아산하수',
 '고창대산하수',
 '태안몽산포하수',
 '순천송광하수',
 '순천신평하수',
 '순천황전하수',
 '여주점동하수',
 '여주금사하수',
 '용인추계하수',
 '포항대보하수',
 '의성봉양하수',
 '함안군북하수',
 '홍천양덕원하수',
 '양평지평하수',
 '양평단월하수',
 '무주안성하수',
 '양평곡수하수',
 '신안임자하수',
 '평창하수',
 '평창봉평하수',
 '임실오수하수',
 '양양강현하수',
 '제천송학하수',
 '고창흥덕부안하수',
 '제천봉양하수',
 '진주대곡하수',
 '군산대야하수',
 '군산옥서하수',
 '장흥대덕하수',
 '당진중흥하수',
 '영월주천하수',
 '강릉옥계하수',
 '인제남면하수',
 '인제용대하수',
 '인제기린하수',
 '충주앙성2하수',
 '진도임회하수',
 '함양안의하수',
 '청원오송하수',
 '김천아포하수',
 '청원미원하수',
 '군위하수',
 '청도풍각하수',
 '청도신원하수',
 '영천신녕하수',
 '하동진교하수',
 '봉화춘양하수',
 '부안계화하수',
 '정선신동하수',
 '의령부림하수',
 '울진북면하수',
 '고성회화하수',
 '고성거류하수',
 '당진삽교호하수',
 '여주대신하수',
 '여주천서하수',
 '여주산북하수',
 '거창폐수',
 '영덕남정하수',
 '영덕축산하수',
 '완주구이하수',
 '가평북면하수',
 '가평삼회하수',
 '가평신천하수',
 '가평천안하수',
 '아산도고선장하수',
 '합천가야야로하수',
 '합천삼가하수',
 '세종연서면하수',
 '합천초계적중하수',
 '진천이월하수',
 '남해상주하수',
 '화천산양하수',
 '화천사창하수',
 '김해한림하수',
 '김해상동하수',
 '예산산단폐수',
 '스태츠칩팩코리아',
 '연천청산폐수',
 '한국인삼공사(원주)',
 '화천하수',
 '박달재LPC',
 '포천관인하수',
 '매일유업(고창)',
 '논산동산폐수',
 '하남하수',
 '예산내포하수']

In [7]:
# 사업장별 dataframe 제작
for i in plc_lst:
    plc_df = pd.DataFrame(columns={'ds', 'pH', 'COD', 'SS', 'N', 'P', 'T'})
    plc_df = plc_df[['ds', 'pH', 'COD', 'SS', 'N', 'P', 'T']]
    
    date_lst = list(train[i].keys())
    plc_df.loc[:, 'ds'] = date_lst

    for index, j in enumerate(date_lst):
        for k in fct_lst:
            try:
                plc_df.loc[index, k] = train[i][j][k]
            except:
                pass
                    
    df_dic[i] = plc_df

In [8]:
plc_lst[:5]

['서울서남하수', '부산서부하수', '부산정관하수', '부산동부하수', '부산강변하수']

In [9]:
df_dic[plc_lst[0]]

            ds        pH       COD       SS        N         P         T
0     20100101  0.483936   1.27378  1.36436  1.26818    1.1489  0.115951
1     20100102  0.483936   1.15002  1.28054  1.39228  0.544579  0.115951
2     20100103  0.877648   0.94375  1.02908  1.36308  0.678874  0.115951
3     20100104  0.877648  0.861242  1.61583  1.90386   1.23549  0.115951
4     20100105  0.877648  0.654972   1.1129  2.23586   1.40336  0.115951
...        ...       ...       ...      ...      ...       ...       ...
2815  20180127   2.05879  0.366194  1.44819  2.20082  -1.02455 -0.136248
2816  20180128   2.05879   0.32494  1.61583  1.96343 -0.983906 -0.136248
2817  20180129   2.05879  0.366194  1.53201  1.93364  -1.01041 -0.136248
2818  20180130   1.66507   1.10877  1.53201  2.45048 -0.992741 -0.136248
2819  20180131   2.05879   1.27378  1.44819  2.50976  -1.01748 -0.136248

[2820 rows x 7 columns]

In [10]:
# Prophet 예측을 위한 dataframe 포맷 제작
future = pd.DataFrame([str(x)[:10] for x in list(pd.date_range(start='2018-02-01', end='2019-12-31'))], columns=['ds'])
future['y'] = np.nan
future

             ds   y
0    2018-02-01 NaN
1    2018-02-02 NaN
2    2018-02-03 NaN
3    2018-02-04 NaN
4    2018-02-05 NaN
..          ...  ..
694  2019-12-27 NaN
695  2019-12-28 NaN
696  2019-12-29 NaN
697  2019-12-30 NaN
698  2019-12-31 NaN

[699 rows x 2 columns]

In [11]:
fct_df = plc_df[['ds', j]]
fct_df = fct_df.rename(columns={j:'y'})

KeyError: "['20180131'] not in index"

In [17]:
# 추론
start_time = time.time()

for i in plc_lst:
    plc_df = df_dic[i]
    
    for j in fct_lst:
        fct_df = plc_df[['ds', j]]
        fct_df = fct_df.rename(columns={j:'y'})
        model = Prophet()
        model.fit(fct_df)
        forecast = model.predict(future)
        forecast['ds'] = forecast['ds'].apply(lambda x : str(x).split(' ')[0].split('-')[0]+str(x).split(' ')[0].split('-')[1]+str(x).split(' ')[0].split('-')[2])
        forecast = forecast[['ds', 'yhat']]
        
        for index, k in enumerate(list(forecast['ds'])):
            submit[i][forecast.loc[index, 'ds']][j] = np.float(forecast[forecast['ds']==k]['yhat'])
        
end_time = time.time()
print('소요시간 :', (end_time - start_time)/60, 'minutes')

:

:

In [ ]:
# 추론 파일 저장
with open('../data/ai_contest/prediction_base.json', 'w', encoding='utf8') as f:
    json.dump(submit, f, ensure_ascii=False)

: